.linhaCinza {
  background-color: gray;
}

/*
Configuração de fontes
*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: "Lucida Bright", Georgia;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/**
Titulo dos cartões de obras
*/
.titulo-cartao {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/*
Ajuste na tabela de informações do cartão de obras
*/
.cartao-obra-row {
  font-style: italic;
  font-weight: 100;
  white-space: pre;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
  font-family: "Lucida Bright", Georgia;
}

.navbar-toggler {
  padding: 0.75rem 0.75rem;
  font-size: 1.5rem;
  background-color: #4caf50;
}

.nav-bar-toggle-color {
  background-color: #7a9c54;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.bg-primary {
  background: linear-gradient(rgb(26, 48, 142), rgb(1, 200, 164)) !important;
  /*background-color: #22941e !important;*/
}

.margin-top {
  margin-top: 2rem;
}

.margin-top-home {
  margin-top: 5rem;
}

.border-top-fix {
  border-top: 2px !important;
}

.owl-nav .owl-prev span {
  position: absolute;
  top: 30%;
  left: 0;
  color: #00904671;
  font-size: 30vw;
}

.owl-nav .owl-next span {
  position: absolute;
  top: 30%;
  right: 0;
  color: #00904671;
  font-size: 30vw;
}


.jumbotron-bg {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(200, 200, 200, 0) 21%, rgba(0, 0, 0, 0.97) 98%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(200, 200, 200, 0) 21%, rgba(0, 0, 0, 0.97) 98%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(200, 200, 200, 0) 21%, rgba(0, 0, 0, 0.97) 98%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}

/**
 * Fix para content-box: border-box padrão do bootstrap
 *
 * para ser usado em alguns casos específicos para ter um design pixel-perfect
**/
.content-box {
  box-sizing: content-box;
}

/**
 * fix para corrigir position do menu quando está logado
 * assim a admin-bar não se sobrepõe ao menu
**/
.fixed-top {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .fixed-top {
    top: 46px;
  }
}

.legenda-carousel {
  background-color: rgba(0, 0, 0, 0.5);
}

.topbutton{
  display: none;
}