.DS_Store
/.vscode/
/vendor/
wiki-ema.code-workspace
/doc/
reserva.php
inc/alphabetical-pagination/.github
inc/alphabetical-pagination/.github/ISSUE_TEMPLATE/bug_report.md
inc/alphabetical-pagination/.github/ISSUE_TEMPLATE/feature_request.md
