# Título que será exibido na documentação
title: 'Documentação Wiki-Ema Tema'

# Template utilizado na documentação: default, bootstrap
templateTheme: 'default'

# Diretório onde está o código-fonte que deve ter a documentação gerada
source:
    - '.'

# Diretórios que devem ser ignorados durante o processo de geração da documentação
exclude:
    - 'bootstrap'
    - 'css'
    - 'inc'
    - 'js'
    - 'vendor'
    - 'assets'

# Diretório onde a documentação deverá ser criada
destination: 'doc'

# Níveis de acesso a variáveis e funções que devem ser documentados
accessLevels:
    - 'public'
    - 'private'
    - 'protected'

# Se marcado como FALSE, as marcações @deprecated não serão adicionadas à documentação
#deprecated: true

# Se marcado como TRUE, as marcações @todo serão adicionadas à documentação
todo: true